body {
  background-color: rgb(0, 0, 0);
  color: green;
  font-family: monospace;
}
.contact-form {
  border: 2px dashed green;
  border-radius: 5px;
  margin: 5px;
  padding: 2%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(234, 243, 234, 0.19),
    0 6px 6px rgba(247, 250, 248, 0.23);
}
.header {
  border: 2px green;
  border-radius: 5px;
  margin: 5px;
  padding: 2%;
  text-align: center;
  border-style: dashed;
  box-shadow: 0 10px 20px rgba(246, 250, 246, 0.19),
    0 6px 6px rgba(247, 250, 248, 0.23);
}
