body {
  background-color: rgb(0, 0, 0);
  color: green;
  font-family: monospace;
}
.contact-form {
  border: 2px solid green;
  border-radius: 5px;
  margin: 5px;
  padding: 2%;
  text-align: center;
}
.header{
  border: 2px solid green;
  border-radius: 5px;
  margin: 5px;
  padding: 2%;
  text-align: center;
}
