body {
  background-color: rgb(0, 0, 0);
  color: green;
  font-family: monospace;
  text-align:justify;
}
.contact-form {
  border: 2px dashed green;
  border-radius: 5px;
  margin: 5px;
  padding: 2%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(234, 243, 234, 0.19),
    0 6px 6px rgba(247, 250, 248, 0.23);
}

.about-page-formatting {
  position: absolute;
}
#holder {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1em;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  width:auto;
}
.navbar {
  text-align: center;
 
}
.content {
  position: relative;
  top: 16em;
}
.header {
  border: 2px green;
  border-radius: 5px;
  margin: 5px;
  padding: 2%;
  text-align: center;
  border-style: dashed;
  
  box-shadow: 0 10px 20px rgba(246, 250, 246, 0.19),
    0 6px 6px rgba(247, 250, 248, 0.23);
}
